.footer {
    margin-top: 100px;
    background: #F7ECE1;
    height: 96px;

    &__wrapper {
        padding-top: 38px;
        display: flex;
        justify-content: space-between;
    }

    &__law {
        font-weight: 500;
        font-size: 14px;
        color: #333333;
        opacity: 0.3;
    }

    &__links {
        a {
            padding-right: 15px;
            font-weight: 500;
            font-size: 14px;
            color: #333333;
        }

    }

    &__social {
        a {
            padding-right: 5px;
        }
    }
}